.header{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    justify-content: space-between;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;
}
.user_image{
    align-items: center;
    border: 0px solid brown;
    border-radius: 40px;
    height:30px;
}
.header_left{
    margin-left: 30px;
    display: flex;
}
.header_left > img{
    object-fit: contain;
    height: 35px;
}

.header_search{
    margin-left: 10px;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #efe9ec;
}
.header_search > input{
    outline: none;
    border: none;
    background: none;
}
.header_right{
    margin-left: 200px;
    display: flex;
}

.marque{
    width: 150px;
    border-radius: 10px;
    background-color: #efe9ec;
    padding: 0px;
    margin: 0px;
    height: 40px;
}
.marque > marquee{
    font-family: forte;
    font-weight: 600;
    font-size: 25px;
    color: rgb(226, 95, 43);
}

.multicolortext {
    background-image: linear-gradient(to left, rgb(152, 4, 152), orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .button1{
    margin-right: 50px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    padding: 2px;
    width: 150px;
    background: #ecf1eb;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #2ba000;
    box-shadow: 10px 5px 5px rgba(255, 128, 0, 0.646);
}