/* .sidebar{
    position: sticky;
    top: 80x;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
} */
.sidebar{
    position: sticky;
    top: 80px;
    flex: 0.2;
    border-radius: 10px;
    height: fit-content;
    text-align: center;
    padding-bottom: 10px;
}
.sidebar_avatar {
    margin-bottom: 10px;
}
.AuthenticatedUser{
    border: px solid black;
    border-radius: 40px;
    height:50px;
}
.AuthenticatedUser1{
    border: 2px solid black;
    border-radius: 40px;
    height:30px;
}

.sidebar_top > h4{
    color: gray;
    font-size: 12px;
}
.sidebar_top > h2{
    font-size: 18px;
}

.sidebar_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}

.sidebar_top >img{
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.sidebar_stat{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar_stats >p{
    color: gray;
    font-size: 13px;
    font-weight: 600;
}

.sidebar_stats{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sidebar_statNumber{
    font-weight: bold;
    color: rgb(73, 4, 4);
}

.sidebar_bottom{
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.sidebar_recentItem{
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}

.sidebar_bottom >p {
    font-size: 13px;
    padding-bottom: 10px;
}
.sidebar_recentItem:hover{
    background-color: rgb(240, 230, 230);
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.sidebar_hash{
    margin-right: 10px;
    margin-left: 5px;
}